# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
/dist/css/example.css
/dist/css/mainold.css
/dist/img
/dist/video
/dist/fonts