/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 /* ==========================================================================
   Imports
   ========================================================================== */
@import './normalize.css';
@import './variables.css';
@import './font-awesome.min.css';


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em; 
    line-height: 1.4; 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* FUENTES
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;

*/

html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    background-color: var(--concrete);
    font-size: 16px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* ====== GLOBALES ====== */

h2{
    font-family: var(--oswald);
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
}
h2:after{
    content: '';
    margin:  0 auto;
    background-image: url('../img/separador.png');
    height: 30px;
    width: 100px;
    display: block;
}
h3{
    font-size: 1.3rem;
    color: var(--vermilion);
    font-family: var(--ptsans);
}
.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(.8);
}


.wrapper{
    padding: 2.5rem 0;

    p{
        font-size: 1.1rem;
        color: var(--black);
    }
}
.container{
    width: 98%;
    margin: 0 auto;

    @media(--mobile) {
       &{
        width: 95%;
        margin: 0 auto;
       }
    }
    @media(--tablet) {
       &{
        width: 90%;
        margin: 0 auto;
       }
    }
    @media(--desktop) {
       &{
        width: 90%;
        margin: 0 auto;
        max-width: 1100px;
       }
    }
}

@define-mixin btn $bg, $color, $font, $size{
    background-color: $bg;
    color: $color;
    font-family: $font;
    font-size: $size;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    transition: .2s all ease;
}




/* ====== HEADER ====== */
.site-header{
    .hero{
        background-image: url(../img/encabezado.jpg);
        background-position: top center;
        background-size: cover;
        height: 100vh;
    }
    .content-header{
        padding-top: 2.5rem;

        .social{
            text-align: center;

            a{
                color: var(--white);
                font-size: 2rem;
                margin-right: 1rem;

                &:last-child{
                    margin-right: 0;
                }
            }

            @media(--tablet) {
                &{
                    margin-top: 1rem;
                }
            }
        }

        .info-event{
            text-align: center;
            color: var(--white);

            p{
                margin: 0;
                display: inline;
                font-size: 1.5rem;
                text-transform: uppercase;

                i{
                    color: var(--vermilion);
                    font-size: 2rem;
                    padding-right: .5rem;
                }

                &.date{
                    float: left;
                }
                &.city{
                    float: right;
                    text-align: right;
                }
            }

            @media(--tablet) {
                &{
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 3rem;
                }
            }

            .site-name{
                font-family: var(--ptsans);
                font-size: 8vw;
                text-transform: uppercase;

                @media(--tablet){
                    &{
                        font-size: 11.5vw;
                        margin: 0;
                        line-height: 1;
                    }
                }
            }
            .slogan{
                text-transform: none;

                span{
                    font-weight: bold;
                }
            }
        }
    }
}

/* ====== MENU-BAR ====== */

.menu-bar{
    background-color: var(--mineshaft);
    padding: 1.5rem 0;

    .logo{
        width: 80%;
        float: left;
        
        @media(--tablet){
            &{
                width: 33%;
            }
        }

        img{
            width: 100%;
        }
    }


    /*main-navigation*/
    .main-navigation{
        //display: none;

        @media(--tablet){
            &{
               display: block;
               width: 67%;
               float: right;
               text-align: right;
            }
        }

        a{
            font-family: var(--oswald);
            color: var(--white);
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.3rem;
            transition: .2s all ease;
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: .5rem;

            @media(--tablet){
                &{
                    margin-right: .2rem;
                    padding: .2rem .5rem;
                    display: inline-block;
                    width: auto;
                    text-align: center;

                    &:hover{
                        background-color: var(--vermilion);
                    }
                    &:last-child{
                        margin-right: 0;
                        border: 2px solid var(--vermilion);
                        color: var(--vermilion);

                        &:hover{
                            color: var(--white);
                        }
                    }
                }
            }
        }

    }

    /*Menu-mobile*/
    .menu-mobile{
        width: 60px;
        display: block;
        float: right;
        text-align: right;
        margin-top: 1.5rem;
        cursor: pointer;

         @media(--tablet){
            &{
                display: none;
            }
        }

        span{
            height: 6px;
            margin-bottom: .5rem;
            background-color: var(--white);
            display: block;
        }
    }
}


/* ====== Programs & workshops ====== */
.programs-wrapper{
    position: relative;
    
    .video-content{
        overflow-x:hidden;
        max-width: 100%;
    }

    .program-content{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;

        .program-event{
            background-color: var(--opaWhite);
            padding: 1.5rem;
            margin-top: 5rem;

            @media(--tablet){
                &{
                    width: 70%;
                }
            }
            @media(--desktop){
                &{
                    width: 50%;
                }
            }
            
            /*Menú programa*/
            .menu-program{
                width: 100%;
                border-bottom: 2px solid var(--vermilion);
                padding-bottom: 1rem;

                @media(--tablet){
                    &{
                        display: table;
                    }
                }

                a{
                    display: block;
                    text-align: center;
                    color: var(--black);
                    text-decoration: none;
                    font-family: var(--oswald);
                    margin-bottom: .8rem;
                    font-size: 1.2rem;

                    @media(--tablet){
                        &{
                            display: table-cell;
                        }
                    }

                    i{
                        color: var(--vermilion);
                        font-size: 1.5rem;
                        margin-right: .8rem;
                    }
                }
            }
            
            .info-course{

                .detall-event{
                    margin-top: 2rem;
                    border-bottom: 1px solid var(--black);
                    padding: 0 2rem;

                    &:nth-child(2){
                        border-bottom: none;
                    }

                    p{
                        margin-bottom: 1.2rem;
                        font-size: 1.2rem;

                        i{
                            color: var(--vermilion);
                            font-size: 1.5rem;
                            margin-right: .8rem;
                        }
                    }
                }

                .button{
                    @mixin btn var(--vermilion), var(--white), var(--oswald), 1rem;

                    &:hover{
                        background-color: var(--grenadier); 
                    }
                }
            }
        }
    }
} 

/* ====== Guests ====== */
.guests{
    
   .guests-list{

        li{
            padding: 1rem;
            float: left;
            width: 100%;

            @media(--mobile){
                &{
                    width: 50%;
                }
            }
            @media(--tablet){
                &{
                    width: 33.3%;
                }
            }

            .guest{
                position: relative;
                overflow: hidden;

                img{
                    max-width: 100%;
                    filter: grey;
                    -webkit-filter: grayscale(1);
                    transition: .2s all ease-in-out;
                }
                p{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    padding: 15px 10px;
                    background-color: var(--opaBlack);
                    width: 100%;
                    color: var(--vermilion);
                    font-family: var(--oswald);
                    text-transform: uppercase;
                    transition: .2s all ease-in-out;
                }

                &:hover{
                    img{
                        filter: none;
                        -webkit-filter: grayscale(0);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                    p{
                        bottom: -80px;
                        opacity: 0;
                    }
                }
            }
        }
   }
}

/* ====== Counter ====== */
.counter{
    position: relative;
    height: auto;

    &:before{
        background-image: url("../img/bg-resumen.jpg");
        content: '';
    }

    .summary-event{
        position: relative;
        padding: 6rem 0;

        li{
            width: 50%;
            float: left;
            text-align: center;
            color: var(--white);
            text-transform: uppercase;
            font-family: var(--oswald);
            font-size: 2.5rem;

            @media(--tablet){
                &{
                    width: 25%;
                }
            }

            .number{
                color: var(--vermilion);
                font-size: 4rem;
                display: block;
                margin: 0 0 10px 0;
            }
        }
    }
}

/******* Prices table *******/
.prices{

    .prices-list{
        &>li{
            padding: 1.2rem;

            @media(--tablet){
                &{
                    float: left;
                    width: 33.3%;
                }
            }

            .prices-table{
                border: 1px solid var(--mercury);
                background-color: var(--white);
                padding: 0 0 1.5rem 0;
                text-align: center;
                transition: .2s all ease;

                &:hover{
                    transform: scale(1.1);
                    border: 1px solid var(--vermilion);
                    box-shadow: 0 0 1rem var(--mercury);
                }

                h3{
                    font-family: var(--oswald);
                    font-size: 1.5rem;
                }

                .number{
                    color: var(--vermilion);
                    font-size: 4rem;
                    display: block;
                    margin: 2rem 0;
                    font-family: var(--oswald);
                    color: var(--black);
                }

                ul{
                    li{
                        font-family: var(--ptsans);
                        font-size: .8rem;
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                        color: var(--gray);

                        &::before{
                            content: '\f00c';
                            font-family: 'FontAwesome';
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0 5px;
                            font-size: 1.2rem;
                            color: green;
                            -webkit-font-smoothing: antialiased;
                        }
                    }
                }

                .button{
                    @mixin btn var(--vermilion), var(--white), var(--oswald), 1rem;
                    border: 1px solid var(--vermilion);

                    &:hover{
                        background-color: var(--grenadier); 
                    }
                    &.hollow{
                        background-color: var(--white);
                        color: var(--vermilion);
                    }
                }
            }
        }
    }
}

/******** Map ********/
.map{
    height: 420px;
    background-color: var(--vermilion)
}

/******** Testimonials ********/
.testimonials{
    padding-bottom: 1.5rem;

    .testimonial{
        padding: 1rem;

        @media(--tablet){
            float: left;
            width: 33.3%;
        }

        blockquote{
            background-color: var(--white);
            border: 1px solid var(--mercury);
            position: relative;
            margin: 0 0 1rem 0;
            padding-bottom: 2rem;

            p{
                text-align: left;
                font-size: 1rem;
                font-family: var(--ptsans);
                padding: 0 2rem 0 4rem;

                &::before{
                    content: '\201c';
                    position: absolute;
                    left: 13px;
                    top: 5px;
                    font-size: 8rem;
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    color: var(--vermilion)
                }
            }
            .info-testimonial{
                padding: 0;

                img{
                    float: left;
                    width: 20%;
                    border-radius: 50%;
                    margin-left: 1.5rem;
                }
                cite{
                    text-align: left;
                    color: var(--vermilion);
                    text-transform: uppercase;
                    font-size: .8rem;
                    padding-top: 1rem;
                    width: 66.6%;
                    float: right;
                    font-weight: bold;
                    font-style: normal;

                    span{
                        color: var(--black);
                        display: block;
                        text-transform: none;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

/******* Newsletter *******/
.newsletter{
    position: relative;
    height: auto;

    &::before{
        background-image: url('../img/bg-newsletter.jpg');
        content: '';
    }
    
    .content{
        padding: 6rem 0;
        color: var(--white);
        text-align: center;
        position: relative;

        p{
            font-size: 1.5rem;
            text-transform: lowercase;

        }

        h3{
            color: var(--white);
            text-transform: uppercase;
            font-size: 7vw;
            font-family: var(--ptsans);
        }
    }

    .button{
        @mixin btn var(--vermilion), var(--white), var(--oswald), 1rem;
        border: 1px solid var(--vermilion);

        &:hover{
            background-color: var(--grenadier); 
        }
        &.transparent{
            background-color: transparent;
            border: 1px solid var(--white);
            
            &:hover{
                background-color: var(--vermilion);
                border-color: var(--vermilion)
            }
        }
    }
}

/******* Countdown *******/

.countdown{
    
    ul{
        li{
            text-transform: uppercase;
            font-family: var(--oswald);
            font-size: 2rem;
            text-align: center;

            @media(--tablet){
                &{
                    width: 25%;
                    float: left;
                }
            }
        }
    }

     .number{
        color: var(--vermilion);
        font-size: 5rem;
        display: block;
        margin: 2rem 0;
        font-family: var(--oswald);
        color: var(--vermilion);
    }
}


/********* Footer site *********/
.site-footer{
    background-color: var(--mineshaft);
    padding-top: 40px;
    margin-top: 20px;

    .container > div{
        color: var(--white);
        padding: 1.5rem;


        @media(--tablet){
            &{
                width: 33.3%;
                float: left;
            }
        }
    }
    h3{
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        margin-bottom: 20px;

        span{
            color: var(--vermilion);
        }
    }

    .last-tweets{

        li{
            margin-bottom: 1rem;
        }
    }

    .social{
            text-align: left;

            a{
                color: var(--white);
                font-size: 2rem;
                margin-right: 1rem;

                &:last-child{
                    margin-right: 0;
                }
            }

            @media(--tablet) {
                &{
                    margin-top: 1rem;
                }
            }
        }

    .copy{
        background-color: var(--abbey);
        text-align: center;
        color: var(--white);
        padding: 10px 0;
        margin:20px 0;
    }
}








/************* Reservas *************/
.reservation{










    .button{
        @mixin btn var(--vermilion), var(--white), var(--oswald), 1rem;
        border: 1px solid var(--vermilion);

        &:hover{
            background-color: var(--grenadier); 
        }
        &.transparent{
            background-color: transparent;
            border: 1px solid var(--white);
            
            &:hover{
                background-color: var(--vermilion);
                border-color: var(--vermilion)
            }
        }
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.float-right{
    float: right;
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
